/* CUSTOM OHIF SCROLLBAR */
.ohif-scrollbar {
  scrollbar-color: #b30000 transparent; /* Red thumb with transparent track */
  overflow-y: auto;
}

.ohif-scrollbar-stable-gutter {
  scrollbar-gutter: stable;
}

.study-min-height {
  min-height: 450px;
}

.ohif-scrollbar:hover {
  overflow-y: auto;
}

.ohif-scrollbar::-webkit-scrollbar {
  width: 8px; /* Thin scrollbar */
  height: 8px;
}

.ohif-scrollbar::-webkit-scrollbar-track {
  @apply rounded;
  background-color: #0a0a0a; /* Black track */
}

.ohif-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded;
  background-color: #b30000; /* Red thumb */
}

.ohif-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #ff4d4d; /* Lighter red thumb on hover */
}

.ohif-scrollbar::-webkit-scrollbar-thumb:window-inactive {
  background-color: #8b0000; /* Darker red thumb when inactive */
}

/* INVISIBLE SCROLLBAR */
.invisible-scrollbar {
  scrollbar-width: none;
}

.invisible-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.invisible-scrollbar::-webkit-scrollbar-track {
  @apply hidden;
}

.invisible-scrollbar::-webkit-scrollbar-thumb {
  @apply hidden;
}

.invisible-scrollbar::-webkit-scrollbar-thumb:window-inactive {
  @apply hidden;
}
