.shepherd-header {
  @apply bg-[#000000] w-[100%] p-0;
}

.shepherd-title {
  @apply text-red-main w-[100%] break-words text-xl leading-[1.5];
}

.shepherd-content {
  @apply flex flex-col gap-[8px] p-[12px] bg-black-main  text-red-active;
}

.shepherd-element {
  @apply bg-black-main max-w-[260px] border border-red-main;
}

.shepherd-text {
  @apply text-red-main w-[100%] p-0 text-lg leading-normal;
}

.shepherd-footer {
  @apply w-[100%] p-0;
}

.shepherd-button {
  @apply inline-flex h-[36px] min-w-[62px] flex-row items-center
  justify-center gap-[5px] whitespace-nowrap rounded
  bg-black-main px-[10px] text-center font-sans text-[14px]
  leading-[1.2] text-red-light outline-none transition duration-300
  ease-in-out hover:bg-red-hover focus:outline-none;
}

.shepherd-button.shepherd-button-secondary {
  @apply bg-black-light text-red-light border border-red-main
  hover:bg-red-hover hover:text-white;
}

.shepherd-arrow::before {
  @apply bg-black-main h-[30px] w-[30px] border-t border-l border-red-light;
}

.shepherd-element[data-popper-placement^='left'] > .shepherd-arrow {
  right: 3px !important;
  top: 6px !important;
}

.shepherd-element[data-popper-placement^='top'] > .shepherd-arrow {
  bottom: 2px !important;
}

.shepherd-modal-overlay-container.shepherd-modal-is-visible {
  @apply opacity-70 bg-black-main;
}
